In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the datetime module from the datetime library.
from datetime import datetime
# Import the requests library.
import requests
# Import the API key.
from config import weather_api_key
# Import API key
from config import g_key
# gmaps 
import gmaps
# Import the API key.
from config import weather_api_key
# Import the time module.
import time

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
hotel_df = pd.read_csv("weather_database/WeatherPy_vacation.csv")
hotel_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,4,Hobart,AU,60.01,scattered clouds,-42.88,147.33,St Ives Apartments
1,8,Vila Franca Do Campo,PT,60.80,broken clouds,37.72,-25.43,Pestana Bahia Praia
2,9,Comodoro Rivadavia,AR,62.60,overcast clouds,-45.87,-67.48,Austral Hotel
3,14,Jamestown,AU,72.93,clear sky,-33.21,138.60,Jamestown Motel Terraces
4,15,Ribeira Grande,PT,58.03,broken clouds,38.52,-28.70,Hotel do Canal | Horta - Faial

In [3]:
Paita = hotel_df[hotel_df['City'].str.contains("Paita")]
Paita

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
111,314,Paita,PE,68.0,overcast clouds,-5.09,-81.11,Hotel Náutico de Paita

In [4]:
Chicama = hotel_df[hotel_df['City'].str.contains("Chicama")]
Chicama

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
16,42,Chicama,PE,64.4,mist,-7.84,-79.15,Tiki Surf House

In [5]:
Huarmey = hotel_df[hotel_df['City'].str.contains("Huarmey")]
Huarmey

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
58,158,Huarmey,PE,61.5,overcast clouds,-10.07,-78.15,Hotel Miramar

In [6]:
Pisco = hotel_df[hotel_df['City'].str.contains("Pisco")]
Pisco

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
65,171,Pisco,PE,66.2,overcast clouds,-13.71,-76.2,Hostal San Isidro Oficial

In [7]:
itinerary_cities_df = pd.concat([Paita, Chicama, Huarmey, Pisco])
itinerary_cities_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
111,314,Paita,PE,68.0,overcast clouds,-5.09,-81.11,Hotel Náutico de Paita
16,42,Chicama,PE,64.4,mist,-7.84,-79.15,Tiki Surf House
58,158,Huarmey,PE,61.5,overcast clouds,-10.07,-78.15,Hotel Miramar
65,171,Pisco,PE,66.2,overcast clouds,-13.71,-76.20,Hostal San Isidro Oficial

In [8]:
itinerary_lats_lngs = itinerary_cities_df.loc[:,['City','Lat','Lng']]
itinerary_lats_lngs

        City    Lat    Lng
111    Paita  -5.09 -81.11
16   Chicama  -7.84 -79.15
58   Huarmey -10.07 -78.15
65     Pisco -13.71 -76.20

In [9]:
import gmaps.datasets
gmaps.configure(api_key = g_key)

In [11]:
# lats and longs for direction layer

Paita = (-5.09, -81.11)
Chicama = (-7.84, -79.15)
Huarmey = (-10.07, -78.15)
Pisco = (-13.71, -76.20)

# Create map with direction layer
fig = gmaps.figure()
intinerary_directions = gmaps.directions_layer(Paita, Pisco, waypoints=[Chicama, Huarmey],  travel_mode='DRIVING')
fig.add_layer(intinerary_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} </dd>and<dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
itinerary_hotel_info = [info_box_template.format(**row) for index, row in itinerary_cities_df.iterrows()]

In [33]:
locations = itinerary_lats_lngs[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))